
@{

    Layout = null;
}
@{ 
    if (ViewBag.message != null)
<h1>@ViewBag.message</h1>
    }
@{ 
    if (ViewBag.result != null)
    {
        @Html.Raw(ViewBag.result);
      @*<br/>
      <h1>I frame calling</h1>
        <iframe style="width:500px;height:300px" src="@ViewBag.url"></iframe>*@



        
    }


}